@tailwind base;
@tailwind components;
@tailwind utilities;

.style_navbar{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 99;
}

.style_banner{
  height: 100%;
  width: 100%;
  background-image: url('../public/adex-home-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

}
.style_banner_box{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255, 40%);
  
}
.style_banner_button{
  color: white;

}
.style_banner_button:hover .style_banner_button_text{
  color:black;
  font-weight: 500;
}

.style_login{
  height: 100%;
  width: 100%;
  background-image: url('../public/property-123.png');
  background-size: cover;
  background-position-x: center;
  font-family: 'Roboto', sans-serif;

}