@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.style_navbar{
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 300;
  font-size: 16px;
  z-index: 95;
  position: fixed;
  top: 0;
}

.style_banner{
  height: 100%;
  width: 100%;
  margin-top: 80px;
  background-image: url('../public/adex-home-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

}

.style_banner_button{
  color: white;

}
.style_banner_button:hover .style_banner_button_text{
  color:black;
  font-weight: 500;
}

.style_login{
  height: 100%;
  width: 100%;
  background-image: url('../public/property-123.png');
  background-size: cover;
  background-position-x: center;
  /* font-family: 'Roboto', sans-serif; */

}

.style_contact_us{
  height: 100%;
  width: 100%;
  background-image: url('../public/property-123.png');
  background-size: cover;
  background-position-x: center;
  /* font-family: 'Roboto', sans-serif; */

}
.style_search_bar{
  /* font-family: 'Roboto', sans-serif; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@keyframes noDataAnimation{
  0% {
      opacity: 0;
  }
  100% {
  }
}
.no-data{
  animation: noDataAnimation 2s linear 0s  normal none;

}

.cards-grid{
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
  margin-bottom: 280px;
}

.styled_map_cards{
  background-color: rgb(255, 255, 255);
  height: 420px;
  border-radius: 24px;
  padding: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* font-family: 'Roboto', sans-serif; */
}

.style_combobox{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 99 !important;
  /* font-family: 'Roboto', sans-serif; */
}

.ComboboxPopover_style{
  z-index: 99 !important;

}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;

}
.slick-dots{
  bottom: 25px!important;
}

.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 50px;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  /* width: 70px; */
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: whitesmoke;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 6px;
  width: 12px;
  border-radius: 7.5px;
}
.slick-dots li button:before{
  color: whitesmoke;
}
.button__bar li.slick-active button {
  background-color: #FCD33B;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #FCD33B;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
/* .slick-prev:before{
  margin-right: -25px;
}
.slick-next:before{
  margin-left: -25px;
} */


.card-payment-modal{
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%)
}

.InputElement{
  background-color: #252525;
}

.StripeElement {
  display: block;
  padding: 10px 14px;
  font-size: 1em;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  height: 42px;
}

.shadow-image{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.notifications_list::-webkit-scrollbar {
  width: 10px;
}

.notifications_list::-webkit-scrollbar-track {
  background: transparent;
}

.notifications_list::-webkit-scrollbar-thumb {
  background-color: rgb(121, 119, 119);
  border-radius: 20px;
  opacity: 0.1;
}

.close_icon:hover{
  color: #FCD33B;
  cursor: pointer;
}

.MuiOutlinedInput-notchedOutline{
  border-color: #e5e1e1 !important
}

/* react quill component */
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.ql-container{
  height: 190px !important;
}
.ql-bubble {
  background-color: transparent;
  /* height: 70px !important; */
}
.ql-bubble .ql-editor{
  overflow: hidden;
}

.ql-editor{
  font-family: '__Inter_a64ecd', '__Inter_Fallback_a64ecd';
  font-size: 14px;
  scrollbar-width: none
}



.invisible_scroll_bar{
  scrollbar-width: none !important; 

}

.invisible_scroll_bar::-webkit-scrollbar {
  width: 0; 
}

.custom-slider-image{
  height: 600px;
  width: 1000px;

  
}

.image-gallery{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery-thumbnail-image{
  width: 100px;
  height: 60px;
  object-fit: cover;
}
.image-gallery-play-button{
  display: none;
}

.MuiSlider-track{
  width: 105% !important;
  left: -10px !important;
}